src/test/resources/sanity-checks/all_opentofu.yaml
id: all_opentofu
namespace: sanitychecks.plugin-opentofu

tasks:
  - id: opentofu
    type: io.kestra.plugin.opentofu.cli.OpenTofuCLI
    beforeCommands:
      - tofu init -input=false
    inputFiles:
      main.tf: |
        terraform {
          required_version = ">= 1.0.0"
        }

        variable "message" {
          type    = string
          default = "hello from kestra"
        }

        output "message" {
          value = upper(var.message)
        }
    outputFiles:
      - validate.txt
      - plan.txt
    commands:
      - tofu validate -no-color > validate.txt
      - tofu plan -input=false -lock=false -no-color > plan.txt

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.opentofu.exitCode == 0 }}"
      - "{{ outputs.opentofu.outputFiles['validate.txt'] is not null }}"
      - "{{ outputs.opentofu.outputFiles['plan.txt'] is not null }}"
      - "{{ read(outputs.opentofu.outputFiles['validate.txt']) contains 'Success!' }}"
      - "{{ read(outputs.opentofu.outputFiles['plan.txt']) contains 'Changes to Outputs' }}"
      - "{{ read(outputs.opentofu.outputFiles['plan.txt']) contains 'HELLO FROM KESTRA' }}"

finally:
  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
